@import url("https://fonts.googleapis.com/css2?family=Computer+Modern:wght@400;700&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animatedText {
  animation: fadeInOut 2s infinite;
}

.fadeLift {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fadeLift.hidden {
  opacity: 0;
  transform: translateY(
    -20px
  ); /* Adjust the value to control how much it lifts */
}
